<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>@ViewData["Title"] - MyTask</title>
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
   <header>
        <nav class="navbar navbar-dark bg-dark fixed-top" >
            <div class="container-fluid">
                <h1 class="navbar-brand" >To Do List</h1>
                 
    <br />
    <br />
    <br />

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>



                 
                @*-----------------------------------side menue---------------------------------------------------*@
                
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">

                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"asp-controller="CategoryTask"asp-action="GetCategories">All Categories</a>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"asp-controller="MyTask"asp-action="GetTasks">All Tasks</a>
                                
                            </li>
                            @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>*@
                        </ul>
                        
                    </div>
                </div>
            </div>
        </nav>
   </header>

    <br />
    <br />
    <br />
    <br />
<div>
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script src="~/wwwroot/customjs.js"></script>


 <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["Error"]
                </div>
            }
          
        </main>
    </div>

    <footer class="border-top footer navbar-dark bg-dark my-2">
        <div class="container my-2">
            &copy; 2023 - ToDoList - <a style="color:whitesmoke" asp-area="" asp-controller="MyTask" asp-action="GetTasks">AllTasks</a>
        </div>
    </footer>
    
    

</body>
</html>
